################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Implementation/.vs
/Implementation/src/Resources/Artistic.hmodel
/Implementation/src/Resources/Artistic.model
/Implementation/src/Resources/Stable.hmodel
/Implementation/src/Resources/Stable.model
/.vs
/obj
/Implementation/Release/DeOldify.NET.stable.windows.simd.w32.exe
/Implementation/Release/DeOldify.NET.artistic.windows.exe
/Implementation/Release/DeOldify.NET.artistic.windows.simd.exe
/Implementation/Release/DeOldify.NET.artistic.windows.simd.w32.exe
/Implementation/Release/DeOldify.NET.stable.windows.exe
/Implementation/Release/DeOldify.NET.stable.windows.simd.exe
